html {
    overflow-y: auto;
    min-height: 100vh; /* 브라우저 높이에 따라 최소 높이 설정 */
}

body {
    font-family: 'Pretendard-600';
    min-height: 100vh; /* 브라우저 높이에 따라 최소 높이 설정 */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#profileImage {
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 30px;
    padding: 10px;
    border-radius: 50%;
}

.page-nation li {
    list-style: none;
}

.page-nation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-nation a {
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.page-nation a:hover {
    background-color: gray;
    color: white;

}

.gallery-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center; /* Distribute items with equal space between them */
    gap: 80px;
}

.gallery-item {
    width: calc((70% - 0px) / 4); /* Calculate width with 4 items and 3 gaps between them */
    height: 400px;
    border: 1px solid deeppink;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    background-size: cover;
    width: auto;
    height: 200px;
    justify-content: center;
    text-align: center;
}

.gallery-caption {
    padding: 10px;
    text-align: center;
}

.gallery-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Board-Title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Board-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-img-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.main-img {
    margin-top: 20px;
    transform: scale(1.7);
}

.btn-write {
    /*margin-top: 30px;*/
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.btn-write button {
    width: auto;
    margin-right: 10px;
}

.rank-image {
    width: 50px;
    height: 50px;
}

h5 {
    font-size: h5;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 10px;
    display: flex;
    flex-direction: column; /*수직 정렬*/
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
    display: flex;
}

#openBtn {
    font-size: 20px;
    width: 250px;
    margin-right: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    padding: 10px 15px;
    border: none;
    display: flex;
}

#openBtn.hide {
    visibility: hidden;
}

#mainLogoImage {
    cursor: pointer;
}

footer {
    box-shadow: 0 -5px 0 rgba(255, 182, 193, 0.1), 0 -2px 0 rgba(255, 182, 193, 0.2);
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #000000;
}

footer a {
    text-decoration: none; /* 하이퍼링크의 밑줄을 없앰 */
}
