@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-400';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-600';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-900';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html {
    overflow-y: auto;
    min-height: 100vh; /* 브라우저 높이에 따라 최소 높이 설정 */
}

body {
    font-family: 'Pretendard-600';
    min-height: 100vh; /* 브라우저 높이에 따라 최소 높이 설정 */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
    display: flex;
}

#profileImage {
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
}

.btn-sideOpen {
    width: 500px;
}

#openBtn {
    font-size: 30px;
    width: 250px;
    margin-right: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    padding: 10px 15px;
    border: none;
    display: flex;
}

#openBtn.hide {
    visibility: hidden;
}

#mainLogoImage {
    cursor: pointer;
}

/* 컨테이너 스타일 */
.getBoardDetail-body {
    max-width: 70%;
    margin: 0 auto;
}

.title1 {
    width: 80%;
    margin: 20px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.outLine {
    font-family: 'Pretendard-600';
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 30px;
    outline-color: pink;
}

.outLine1 {
    width: 15%;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 50px;
    outline-color: pink;
    margin: 10px auto;
}

.outLine1 select {
    border-radius: 30px;
    border: 1px solid lightgray;
}

#region {
    width: 130px;
    margin: 10px auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.outLine2 {
    width: 85%;
    height: 50px;
    padding: 0 20px;
    margin-left: 20px;
    border: 2px solid #ddd;
    border-radius: 50px;
    outline-color: pink;
    display: flex;
    align-items: center;
}

.main-title {
    font-family: 'Pretendard-900';
}

.outLine2 input {
    width: 90%;
    margin-left: 20px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid lightgray;
    outline: none;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-section input {
    width: 85%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid lightgray;
    outline: none;
}

.stopover-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stopover-section input {
    width: 85%;
    height: 30px;
    margin-right: auto;
    border-radius: 30px;
    border: 1px solid lightgray;
    outline: none;
}

.map-create {
    display: flex;
    flex-direction: row;
}

.img-section {
    border-radius: 15px;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

#map {
    border-radius: 15px;
    width: 500px;
    height: 500px;
}

.map-buttons {
    font-family: 'Pretendard-600';
    margin-left: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.btn-map {
    font-family: 'Pretendard-600';
    width: 70%;
    margin: 5px;
    background-color: white;
    color: black;
    border: 1px solid pink;
    border-radius: 30px;
    outline-color: pink;
    cursor: pointer;
}

.btn-map:hover {
    /* 마우스를 버튼 위에 올렸을 때의 스타일 변경 */
    background-color: pink;
}

.btn-stopover {
    width: 25px;
    height: 25px;
    background-color: white;
    color: black;
    border: 1px solid pink;
    border-radius: 20px;
    outline-color: pink;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-stopover:hover {
    /* 마우스를 버튼 위에 올렸을 때의 스타일 변경 */
    background-color: pink;
}

.buttons button {
    margin-left: 5px; /* 각 버튼 사이의 간격을 조절할 수 있습니다. */
}

.gallery-item img {
    background-size: cover;
    width: 450px;
    height: 450px;
    justify-content: center;
    text-align: center;
}

.main-img-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.btn-write {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-write button {
    width: auto;
    margin-right: 10px;
}

.rank-image {
    width: 50px;
    height: 50px;
}

h3 {
    font-family: 'Pretendard-600';
}

textarea {
    width: 100%;
    height: 6.25em;
    border: 1px solid pink;
    border-radius: 10px;
    resize: none;
}

.btn-style {
    font-family: 'Pretendard-400';
    width: 80%;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-style button {
    font-family: 'Pretendard-400';
    margin-left: 10px;
    width: 10%;
    background-color: white;
    color: black;
    border: 1px solid pink;
    border-radius: 30px;
    outline-color: pink;
    cursor: pointer;
}

.btn-style button:hover {
    /* 마우스를 버튼 위에 올렸을 때의 스타일 변경 */
    background-color: pink;
}

.btn-up {
    font-family: 'Pretendard-600';
    font-size: 20px;
    position: relative;
    width: auto;
    margin: 0 10px;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-up:hover {
    transform: scale(1.3);
}

.btn-up::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(255, 182, 193);
    transition: all 0.3s ease-in-out;
}

.btn-up:hover::after {
    width: 100%;
}

.stopover {
    font-family: 'Pretendard-600';
}

footer {
    box-shadow: 0 -5px 0 rgba(255, 182, 193, 0.1), 0 -2px 0 rgba(255, 182, 193, 0.2);
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #000000;
}

footer a {
    text-decoration: none; /* 하이퍼링크의 밑줄을 없앰 */
}

.preview-image {
    width: 22%;
    height: 200px;
    margin: 5px;
    border-radius: 15px;
}

.modal {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 80%;
    border-radius: 15px;
}
.modal-content img {
    width: 100%;
    height: auto;
}

