.stopover-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stopover-section input {
  margin-right: 5px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

div.getBoardDetailPage {
  display: flex;
  flex-direction: column;
}

div.getBoardDetail-header {
  padding: 10px;
  width: 100%;
}

#mainLogoImage {
  cursor: pointer;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin-left: 20px;
}

#profileImage {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 30px;
  padding: 10px;
  border-radius: 50%;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 120px;
  padding: 10px;
  cursor: pointer;
}

.user-nickname {
  position: absolute;
  top: 5px;
  right: 200px;
  padding: 10px;
}

.board-maps {
  display: flex;
  justify-content: space-between; /* 요소들을 가로로 균등하게 배치 */
  align-items: center; /* 요소들을 세로로 가운데 정렬 */
}

section {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#region {
  width: 100px;
}

#mapImage {
  width: 500px;
  height: 300px;
}

.mapImage {
  width: 500px;
  height: 300px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.buttons button {
  margin-left: 5px; /* 각 버튼 사이의 간격을 조절할 수 있습니다. */
}

#map {
  width: 640px;
  height: 600px;
}

#capturedImage {
  margin-top: 20px;
}

#drawLine, #captureImage, #locateCurrentPosition {
  margin: 5px;
}