<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 조회 페이지</title>
    <link th:href="@{/css/getBoardDetail.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/basic.js}"></script>
</head>
<body>
<div class="getBoardDetailPage">
    <div class="getBoardDetail-header">
        <img class="main-img" th:src="@{/images/logo.png}"
             th:onclick="|location.href='@{/api/boards/best}'|" alt="Main Image">
        <div>
            <div class="btn-write">
                <p th:if="${user == null}">
                    <button class="btn btn-outline-success" type="submit"
                            th:onclick="|location.href='@{/api/users/login-page}'|">로그인
                    </button>
                </p>
                <p th:if="${user != null}">
                    <button id="logout-button" class="btn btn-outline-success" onclick="logout()">로그아웃</button>
                    <button class="btn btn-outline-success" type="submit"
                            th:onclick="|location.href='@{/api/users}'|">프로필
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="getBoardDetail-body">
        <div class="title-and-buttons">
            <div class="buttons">
                <div th:if="${user != null}">
                    <button th:onclick="'getUpdateBoard(' + ${boardId} + ')'" id="board-update-button">
                        수정
                    </button>
                </div>
                <div th:if="${user == null}">
                    <button onclick="needToLogin()">수정</button>
                </div>

                <div th:if="${user != null}">
                    <button th:onclick="'deleteBoard(' + ${boardId} + ')'" id="board-delete-button">삭제</button>
                </div>
                <div th:if="${user == null}">
                    <button onclick="needToLogin()">삭제</button>
                </div>

                <div th:if="${user != null}">
                    <button th:onclick="showInputForm()">신고</button>
                    <div id="inputForm" style="display: none;">
                        <form id="myForm">
                            <label for="reason">신고 사유:</label>
                            <input type="text" id="reason" name="reason" required>
                            <button type="button" th:onclick="'reportBoard(' + ${board.id} + ')'">확인
                            </button>
                        </form>
                    </div>
                </div>
                <div th:if="${user == null}">
                    <button onclick="needToLogin()">신고</button>
                </div>
                <h1 th:text="'제목: ' + ${board.title}"></h1>
            </div>
        </div>

        <div class="map">
            <div id="map" style="width:500px;height:400px;">test</div>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=93eeece0b333bf5a99127edc145aa398"></script>
            <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 3
                };

                var map = new kakao.maps.Map(container, options);
            </script>
            <p th:text="'내용: ' + ${board.content}"></p>
            <p th:text="'출발지: ' + ${board.departure}"></p>
            <p th:text="'경유지: ' + ${board.stopover}"></p>
            <p th:text="'도착지: ' + ${board.destination}"></p>
            <p th:text="'좋아요 수: ' + ${board.likeCount}"></p>
        </div>

        <div th:if="${user != null}">
            <button class="like-btn" th:onclick="'likeBoard(' + ${board.id} + ')'">좋아요</button>
        </div>
        <div th:if="${user == null}">
            <button class="like-btn" onclick="needToLogin()">좋아요</button>
        </div>

        <!--댓글 작성-->
        <div>
            <label for="commentContent">내용:</label>
            <input type="text" id="commentContent" name="commentContent" required>
            <label for="commentImageInput">첨부파일:</label>
            <input type="file" id="commentImageInput" name="commentImageInput">
        </div>

        <div th:if="${user != null}">
            <button type="button" th:onclick="|saveComment(${board.id})|">확인</button>
        </div>
        <div th:if="${user == null}">
            <button type="button" onclick="needToLogin()">확인</button>
        </div>

        <div>
            <h2>댓글</h2>
            <div class="comment-list" th:each="comment : ${board.comments}"
                 th:id="${'comment-' + comment.id}">
                <div class="comment">
                    <div class="gallery-caption">
                        <p th:text="'작성자: ' + ${comment.nickname}"></p>
                        <img th:src="${comment.fileURL}" id="commentImage" alt="댓글 이미지">
                        <p th:text="'내용: ' + ${comment.content}"></p>
                        <p th:text="'좋아요 수: ' + ${comment.likeCount}"></p>
                    </div>
                </div>
                <div class="like-comment-btn">
                    <!--댓글 좋아요-->
                    <div th:if="${user != null}">
                        <button class="like-btn" th:onclick="'likeComment(' + ${board.id} + ',' + ${comment.id} + ')'">
                            좋아요
                        </button>
                    </div>
                    <div th:if="${user == null}">
                        <button class="like-btn" onclick="needToLogin()">좋아요</button>
                    </div>

                    <!--댓글 수정-->
                    <div th:if="${user != null}">
                        <button th:onclick="showCommentUpdateForm()">수정</button>
                        <div id="commentUpdateForm" style="display: none;">
                            <form id="UpdateCommentForm">
                                <label for="inputCommentContent">내용:</label>
                                <input type="text" id="inputCommentContent" name="commentContent" required>
                                <label for="inputCommentImage">첨부파일:</label>
                                <input type="file" id="inputCommentImage" name="commentImage">
                                <button type="button" th:onclick="'updateComment(' + ${board.id} + ',' + ${comment.id} + ')'">확인
                                </button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${user == null}">
                        <button onclick="needToLogin()">수정</button>
                    </div>

                    <!--댓글 삭제-->
                    <div th:if="${user != null}">
                        <button th:onclick="'deleteComment(' + ${board.id} + ',' + ${comment.id} + ')'" id="comment-delete-button">삭제
                        </button>
                    </div>
                    <div th:if="${user == null}">
                        <button onclick="needToLogin()">삭제</button>
                    </div>

                    <!--댓글 신고-->
                    <div th:if="${user != null}">
                        <button th:onclick="showCommentInputForm()">신고</button>
                        <div id="commentInputForm" style="display: none;">
                            <form id="myCommentForm">
                                <label for="commentReason">신고 사유:</label>
                                <input type="text" id="commentReason" name="commentReason" required>
                                <button type="button"
                                        th:onclick="'reportComment(' + ${board.id} + ',' + ${comment.id} + ')'">확인
                                </button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${user == null}">
                        <button onclick="needToLogin()">신고</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
