<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/basic.js}"></script>
    <title>로그인 페이지</title>
</head>
<body>
<div class="wrap">
    <logo>
        <img class="main-img" th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage"
             th:onclick="|location.href='@{/api/boards/best}'|">
    </logo>
    <div class="login">
        <div class="login_title">
            <h2>로그인<h3>Login</h3></h2>
        </div>
        <div class="login_id">
            <h4>ID</h4>
            <input type="text" id="username" placeholder="ID"/>
        </div>
        <div class="login_pw">
            <h4>Password</h4>
            <input type="password" id="password" placeholder="Password"/>
        </div>
        <div class="submit">
            <input type="button" onclick="onLogin()" value="로그인"/>
            <input type="button" th:onclick="|location.href='/api/users/signup-page'|" value="회원가입"/>
        </div>

        <h5>다른 방법으로 로그인하기</h5>
        <div class="login_sns">
            <button class="sbutton" id="login-kakao-btn">
                <a href="https://kauth.kakao.com/oauth/authorize?client_id=eb63c9db76c1cd5b08e311f603565bfc&amp;redirect_uri=http://localhost:8080/api/users/kakao/callback&amp;response_type=code"
                   target=""><i class="custom-kakao"></i></a>
            </button>
            <button class="sbutton" id="login-naver-btn">
                <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&amp;client_id=DkMAKxIfQr40yq4hYpwZ&amp;redirect_uri=http://localhost:8080/api/users/naver/callback&amp;state=test"
                   target=""><i class="custom-naver"></i></a>
            </button>
        </div>
    </div>
</div>
</body>
</html>