<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/11zon_cropped+(1).png">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <title>사뿐</title>
</head>
<body>
<div id="sidebar">
    <a href="#" onclick="navigateTo('/api/boards/best')">Best Top 3</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION1')">서울특별시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION2')">부산광역시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION3')">대구광역시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION4')">인천광역시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION5')">광주광역시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION6')">울산광역시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION7')">세종특별자치시</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION8')">경기도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION9')">강원특별자치도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION10')">충청북도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION11')">충청남도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION12')">전북특별자치도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION13')">전라남도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION14')">경상북도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION15')">경상남도</a>
    <a href="#" onclick="navigateTo('/api/boards/region?region=REGION16')">제주특별자치도</a>
</div>
<!--페이지 기본 상단-->
<div id="main">
    <div class="btn-sideOpen">
    <button id="openBtn" onclick="openNav()">☰ 메뉴</button>
    </div>
    <div class="main-img-container">
        <img id="mainLogoImage"
             th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/logo.png} "
             th:onclick="|location.href='@{/api/boards/best}'|"
             alt="Main Image">
    </div>
    <div class="btn-write"></div>
</div>
<div class="wrap">
    <div class="login">
        <div class="login_title">
            <h2>로그인<h3>Login</h3></h2>
        </div>
        <div class="login_id">
            <h4>ID</h4>
            <input type="text" id="username" placeholder="ID"/>
        </div>
        <div class="login_pw">
            <h4>Password</h4>
            <input type="password" id="password" placeholder="Password"/>
        </div>
        <div class="submit">
            <input type="button" onclick="onLogin()" value="로그인"/>
            <input type="button" th:onclick="|location.href='/api/users/signup-page'|" value="회원가입"/>
        </div>

        <h5>다른 방법으로 로그인하기</h5>
        <div class="login_sns">
            <button class="sbutton" id="login-kakao-btn">
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=eb63c9db76c1cd5b08e311f603565bfc&amp;redirect_uri=https://www.sappun.shop/api/users/kakao/callback&amp;response_type=code"
                   target=""><i class="custom-kakao"></i></a>
            </button>
            <button class="sbutton" id="login-naver-btn">
                <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&amp;client_id=DkMAKxIfQr40yq4hYpwZ&amp;redirect_uri=https://www.sappun.shop/api/users/naver/callback&amp;state=test"
                   target=""><i class="custom-naver"></i></a>
            </button>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 SAPPUN.
        Team members <a href="https://github.com/hayul93" target="_blank">박상율</a>,
        <a href="https://github.com/rlawogks22" target="_blank">김재한</a>,
        <a href="https://github.com/peter202597" target="_blank">홍정욱</a>,
        <a href="https://github.com/jump6923" target="_blank">김진환</a>,
        <a href="https://github.com/dlwls423" target="_blank">이예진</a>
    </p>
</footer>

</body>
</html>