<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/11zon_cropped+(1).png">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
    <title>사뿐</title>
</head>
<body>
<div class="profile-page">
    <div class="profile-header">
        <!-- 메인 로고 이미지 -->
        <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/logo.png}" alt="Logo" id="mainLogoImage" th:onclick="|location.href='@{/api/boards/best}'|">

        <div class="profile-header-buttons">

            <!-- 로그아웃 버튼 -->
            <div class="logout">
                <button class="header-btn" id="logout-button" onclick="logout()">로그아웃</button>
            </div>

            <!-- 회원 탈퇴 버튼 -->
            <div class="withdraw">
                <button class="header-btn" id="withdraw-button" th:onclick="deleteUser()">회원 탈퇴</button>
            </div>

        </div>
    </div>

    <div class="profile-content">
        <div class="profile-info-box">
            <div class="profile-info">
                <div class="profile-image-group">
                    <img th:src="${userProfile.profileUrl}" alt="Profile Picture"
                         class="profile-image">
                    <p class="rank">
                        <b class="Rank-text">Rank</b>
                        <span th:if="${userProfile.score < 0}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Warned.png}" alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                            th:if="${userProfile.score >= 0 and userProfile.score <= 300}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Bronze.png}" alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                            th:if="${userProfile.score > 300 and userProfile.score <= 700}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Silver.png}" alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                            th:if="${userProfile.score > 700 and userProfile.score <= 1200}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Gold.png}" alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span th:if="${userProfile.score > 1200}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Platinum.png}" alt="rank-image"
                                 class="rank-image">
                        </span>
                    </p>
                </div>

                <div class="profile-text-group">
                    <div class="username">
                        <p><b class="name-tag">아이디</b></p>
                        <p><span class="name-element" th:text="${userProfile.username}"></span></p>
                    </div>
                    <div class="nickname">
                        <p><b class="name-tag">닉네임</b></p>
                        <p><span class="name-element" th:text="${userProfile.nickname}"></span></p>
                    </div>
                    <div class="email">
                        <p><b class="name-tag">이메일</b></p>
                        <p><span class="name-element" th:text="${userProfile.email}"></span></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="profile-page-buttons">

            <!-- 좋아요 한 글 가기 버튼 : 좋아요 페이지로 -->
            <div class="back-to-main">
                <button class="bottom-btn" th:onclick="|location.href='/api/boards/likes?page=1'|" id="back-like-button">좋아요 관리</button>
            </div>

            <!-- 본인글 가기 버튼 : 본인 페이지로 -->
            <div class="back-to-main">
                <button class="bottom-btn" th:onclick="|location.href='/api/boards/user?page=1'|" id="back-user-button">게시글 관리</button>
            </div>

            <!-- 비밀번호 수정 버튼 -->
            <div class="password-update">
                <button class="bottom-btn" th:onclick="|location.href='/api/users/profile/password'|" id="password-update-button">비밀번호 수정</button>
            </div>

            <!-- 프로필 수정 버튼 -->
            <div class="profile-update">
                <button class="bottom-btn" th:onclick="|location.href='/api/users/profile-update'|" id="profile-update-button">수정</button>
            </div>

            <!-- 뒤로가기 버튼 : 메인 페이지로 -->
            <div class="back-to-main">
                <button class="bottom-btn" th:onclick="|location.href='/api/boards/best'|" id="back-main-button">뒤로</button>
            </div>

        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 SAPPUN.
        Team members <a href="https://github.com/hayul93" target="_blank">박상율</a>,
        <a href="https://github.com/rlawogks22" target="_blank">김재한</a>,
        <a href="https://github.com/peter202597" target="_blank">홍정욱</a>,
        <a href="https://github.com/jump6923" target="_blank">김진환</a>,
        <a href="https://github.com/dlwls423" target="_blank">이예진</a>
    </p>
</footer>

</body>
</html>