<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/basic.js}"></script>
    <style>

    </style>
</head>
<body>
<div class="profile-page">
    <div class="profile-header">
        <!-- 메인 로고 이미지 -->
        <img th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage" th:onclick="|location.href='@{/api/boards/best}'|">

        <div class="profile-header-buttons">

            <!-- 로그아웃 버튼 -->
            <div class="logout">
                <button id="logout-button" onclick="logout()">로그아웃</button>
            </div>

            <!-- 회원 탈퇴 버튼 -->
            <div class="withdraw">
                <button id="withdraw-button" th:onclick="deleteUser()">회원 탈퇴</button>
            </div>

        </div>
    </div>

    <div class="profile-content">
        <div class="profile-info-box">
            <div class="profile-info">
                <div class="profile-image-group">
                    <img th:src="${userProfile.profileUrl}" alt="Profile Picture"
                         class="profile-image">
                    <p><b>Rank</b>
                        <span th:if="${userProfile.score < 0}">Warned</span>
                        <span
                            th:if="${userProfile.score >= 0 and userProfile.score <= 300}">Bronze</span>
                        <span
                            th:if="${userProfile.score > 300 and userProfile.score <= 700}">Silver</span>
                        <span
                            th:if="${userProfile.score > 700 and userProfile.score <= 1200}">Gold</span>
                        <span th:if="${userProfile.score > 1200}">Platinum</span>
                    </p>
                </div>

                <div class="profile-text-group">
                    <div class="username">
                        <p><b>아이디</b></p>
                        <p><span th:text="${userProfile.username}"></span></p>
                    </div>
                    <div class="nickname">
                        <p><b>닉네임</b></p>
                        <p><span th:text="${userProfile.nickname}"></span></p>
                    </div>
                    <div class="email">
                        <p><b>이메일</b></p>
                        <p><span th:text="${userProfile.email}"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-page-buttons">
            <!-- 비밀번호 수정 버튼 -->
            <div class="password-update">
                <button th:onclick="|location.href='/api/users/profile/password'|" id="password-update-button">비밀번호 수정</button>
            </div>

            <!-- 프로필 수정 버튼 -->
            <div class="profile-update">
                <button th:onclick="|location.href='/api/users/profile'|" id="profile-update-button">수정</button>
            </div>

            <!-- 뒤로가기 버튼 : 메인 페이지로 -->
            <div class="back-to-main">
                <button th:onclick="|location.href='/api/boards/best'|" id="back-main-button">뒤로</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>