<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/11zon_cropped+(1).png">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{/css/profileUpdate.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/profileUpdate.js}"></script>
    <title>사뿐</title>
</head>
<body>
<div class="profile-page">
    <div class="profile-header">
        <!-- 메인 로고 이미지 -->
        <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/logo.png}" alt="Logo"
             id="mainLogoImage" th:onclick="|location.href='@{/api/boards/best}'|">

        <div class="profile-header-buttons">

            <!-- 로그아웃 버튼 -->
            <div class="logout">
                <button class="header-btn" id="logout-button" onclick="logout()">로그아웃</button>
            </div>

            <!-- 회원 탈퇴 버튼 -->
            <div class="withdraw">
                <button class="header-btn" id="withdraw-button" th:onclick="deleteUser()">회원 탈퇴</button>
            </div>


        </div>
    </div>

    <div class="profile-content">
        <div class="profile-info-box">
            <div class="profile-info">
                <div class="profile-image-group">
                    <img id="preview" th:src="${userProfile.profileUrl}" alt="Profile Picture" class="profile-image">
                    <input class="file" type="file" name="image" accept="image/*" id="image" onchange="readURL(this);">

                    <p class="rank">
                        <b class="Rank-text">Rank</b>
                        <span th:if="${userProfile.score < 0}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Warned.png}"
                                 alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                                th:if="${userProfile.score >= 0 and userProfile.score <= 300}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Bronze.png}"
                                 alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                                th:if="${userProfile.score > 300 and userProfile.score <= 700}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Silver.png}"
                                 alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span
                                th:if="${userProfile.score > 700 and userProfile.score <= 1200}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Gold.png}"
                                 alt="rank-image"
                                 class="rank-image">
                        </span>
                        <span th:if="${userProfile.score > 1200}">
                            <img th:src="@{https://sappun-walk.s3.ap-northeast-2.amazonaws.com/image/Platinum.png}"
                                 alt="rank-image"
                                 class="rank-image">
                        </span>
                    </p>
                </div>

                <div class="profile-text-group">
                    <div class="username">
                        <label class="name-tag" for="username"><b>아이디</b></label>
                        <div class="username-input">
                            <input type="text" id="username" name="username" required
                                   th:placeholder="|${userProfile.username}|">
                            <button id="username-check-button" onclick="checkUsername()">중복확인
                            </button>
                            <span id="usernameMessage"></span>

                        </div>
                    </div>
                    <div class="nickname">
                        <label class="name-tag" for="nickname"><b>닉네임</b></label>
                        <div class="nickname-input">
                            <input type="text" id="nickname" name="nickname" required
                                   th:placeholder="${userProfile.nickname}">
                            <button id="nickname-check-button" onclick="checkNickname()">중복확인
                            </button>
                            <span id="nicknameMessage"></span>
                        </div>
                    </div>
                    <div class="email">
                        <p><b class="name-tag">이메일</b></p>
                        <p><span class="name-element" th:text="${userProfile.email}"></span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="profile-page-buttons">
            <!-- 수정 완료 버튼 -->
            <div class="update-complete">
                <button class="bottom-btn" id="update-complete-button" onclick="updateProfile()">완료</button>
            </div>

            <!-- 뒤로 버튼 -->
            <div class="back-to-profile">
                <button class="bottom-btn" th:onclick="|location.href='/api/users'|" id="back-profile-button">뒤로
                </button>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 SAPPUN.
        Team members <a href="https://github.com/hayul93" target="_blank">박상율</a>,
        <a href="https://github.com/rlawogks22" target="_blank">김재한</a>,
        <a href="https://github.com/peter202597" target="_blank">홍정욱</a>,
        <a href="https://github.com/jump6923" target="_blank">김진환</a>,
        <a href="https://github.com/dlwls423" target="_blank">이예진</a>
    </p>
</footer>

</body>
</html>
