<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 수정</title>
</head>
<body>
<div class="pwUpdate-page">
    <div class="pwUpdate-header">
        <!-- 메인 로고 이미지 -->
        <img th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage">

        <script>
            // JavaScript로 이미지를 클릭했을 때의 동작을 설정
            document.getElementById('mainLogoImage').addEventListener('click', function () {
                // 이미지를 클릭했을 때 메인 페이지로 이동하는 코드
                window.location.href = '/login.html'; // TODO: 페이지 수정
            });
        </script>

        <div class="profile-header-buttons">
            <div class="login-id-label">기존 비밀번호</div>
            <input type="text" name="password" id="prePw" class="login-input-box">

            <div class="login-id-label">비밀번호</div>
            <input type="text" name="password" id="newPw" class="login-input-box">

            <div class="login-id-label">비밀번호 확인</div>
            <input type="text" name="password" id="confirmPw" class="login-input-box">

            <div class="change">
                <button id="change-button">변경하기</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>