<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 수정 페이지</title>
    <script type="text/javascript" th:src="@{/js/basic.js}"></script>
    <link th:href="@{/css/pwUpdate.css}" rel="stylesheet">
</head>
<body>
<div class="pwUpdate-page">
    <div class="pwUpdate-header">
        <!-- 메인 로고 이미지 -->
        <logo>
            <img class="main-img" th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage"
                 th:onclick="|location.href='@{/api/boards/best}'|">
        </logo>

        <div class="login">
            <div class="login_title">
                <h2>비밀번호 수정<h3>PwUpdate</h3></h2>
            </div>
            <div class="login-id-label">
                <h4>기존 비밀번호</h4>
                <input type="password" name="prePassword" id="prePassword" placeholder="Password">
            </div>
            <div class="login-id-label">
                <h4>비밀번호</h4>
                <input type="password" name="newPassword" id="newPassword" placeholder="NewPassword">
            </div>
            <div class="login-id-label">
                <h4>비밀번호 확인</h4>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="NewPassword">
            </div>

            <div class="change">
                <input type="button" onclick="onPasswordUpdate()" value="변경하기"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>