<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div id="signup-form">
    <!-- 메인 로고 이미지 -->
    <img th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage">

    <div id="login-title">
        <h2>회원가입<h3>Sign</h3></h2>
    </div>

    <div>

        <div class="login-id-label">프로필 사진</div>
        <input type="file" name="profilePicture" accept="image/*" id="image">
        <!-- 이미지를 바로 보여주기 위한 코드 추가 -->
        <img id="profilePreview" src="#" alt="프로필 미리보기" style="max-width: 200px; max-height: 200px; display: none;">

        <!--        <div class="login-id-label">Username</div>-->
        <!--        <input type="text" name="username" placeholder="Username" class="login-input-box">-->
        <!--        <button id="username-check-button" onclick="checkUsername()">중복확인</button>-->
        <!--        <div class="login-id-label">Nickname</div>-->
        <!--        <input type="text" name="nickname" placeholder="nickname" class="login-input-box">-->
        <!--        <button id="nickname-check-button" onclick="checkNickname()">중복확인</button>-->

        <div class="username">
            <label for="username"><b>아이디</b></label>
            <div class="username-input">
                <input type="text" id="username" name="username" required
                       placeholder="영어, 숫자만 포함 가능">
                <button id="username-check-button" onclick="checkUsername()">중복확인
                </button>
                <span id="usernameMessage"></span>

            </div>
        </div>
        <div class="nickname">
            <label for="nickname"><b>닉네임</b></label>
            <div class="nickname-input">
                <input type="text" id="nickname" name="nickname" required
                       placeholder="한글, 영어, 숫자만 포함 가능">
                <button id="nickname-check-button" onclick="checkNickname()">중복확인
                </button>
                <span id="nicknameMessage"></span>
            </div>
        </div>
        <div class="login-id-label">E-mail</div>
        <input type="text" name="email" id="email" class="login-input-box">

        <div class="login-id-label">Password</div>
        <input type="password" name="password" id="password" class="login-input-box">

        <div class="login-id-label">ConfirmPassword</div>
        <input type="password" name="confirmPassword"  id="confirmPassword" class="login-input-box">

        <button onclick="signup()">가입하기</button>
    </div>
</div>
<script>

    var isDuplicatedUsername = true;
    var isDuplicatedNickname = true;

    function checkUsername() {
        const username = document.getElementById('username').value;

        // Request DTO 구성
        const usernameVerifyReq = {
            username: username,
        };

        fetch('/api/users/username', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(usernameVerifyReq),
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    // 중복된 경우 메시지 표시
                    alert('사용 불가능한 아이디입니다.');
                    isDuplicatedUsername = true;
                } else {
                    // 중복되지 않은 경우 메시지 초기화
                    alert('사용 가능한 아이디입니다.');
                    isDuplicatedUsername = false;
                }
            })
            .catch(error => {
                console.error('Error checking username:', error);
            });
    }

    function checkNickname() {
        const nickname = document.getElementById('nickname').value;

        // Request DTO 구성
        const nicknameVerifyReq = {
            nickname: nickname,
        };

        fetch('/api/users/nickname', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(nicknameVerifyReq),
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    // 중복된 경우 메시지 표시
                    alert('사용 불가능한 닉네임입니다.');
                    isDuplicatedNickname = true;
                } else {
                    // 중복되지 않은 경우 메시지 초기화
                    alert('사용 가능한 닉네임입니다.');
                    isDuplicatedNickname = false;
                    updateUpdateButtonState();
                }
            })
            .catch(error => {
                console.error('Error checking nickname:', error);
            });
    }

    function signup() {
        let formData = new FormData();
        formData.append("image", document.getElementById('image').files[0]);
        formData.append("username", document.getElementById('username').value);
        formData.append("nickname", document.getElementById('nickname').value);
        formData.append("email", document.getElementById('email').value);
        formData.append("password", document.getElementById('password').value);
        formData.append("confirmPassword", document.getElementById('confirmPassword').value);

        // 사용자 이름 또는 패스워드가 비어있을 경우 오류 처리
        if (!username) {
            alert('username을 입력하세요.');
            return;
        }
        if (!nickname) {
            alert('nickname을 입력하세요.');
            return;
        } else if (!email) {
            alert('email을 입력하세요.');
            return;
        } else if (!password) {
            alert('password을 입력하세요.');
            return;
        } else if (!confirmPassword) {
            alert('confirmPassword을 입력하세요.');
            return;
        }

        // 요청 보내기
        fetch('/api/users/signup', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.code === 200) {
                    // 서버 응답이 200이면 로그인 성공
                    alert('회원가입이 성공적으로 이루어졌습니다.');
                    window.location.href = '/api/users/login-page';
                } else {
                    // 서버 응답이 200이 아니면 로그인 실패
                    alert('회원가입 수정 실패: ' + data.code);
                }
            })
            .catch(error => {
                console.error('Error signup:', error);
                // 오류 발생 시의 로직을 추가할 수 있습니다.
            });
    }
</script>
</body>
</html>