<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/basic.js}"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<div class="wrap">
    <logo>
        <img class="main-img" th:src="@{/images/logo.png}" alt="Logo" id="mainLogoImage"
             th:onclick="|location.href='@{/api/boards/best}'|">
    </logo>
    <div class="login">
        <div class="login_title">
            <h2>회원가입<h3>SignUp</h3></h2>
        </div>
        <div class="preview-wrap">
            <img class="preview" id="preview"/>
            <div class="preview-label">
                프로필 사진
                <input class="file" type="file" name="image" accept="image/*" id="image" onchange="readURL(this);">
            </div>
        </div>
        <div class="signup_1">
            <label for="username"><b>아이디</b></label>
            <div class="signup-input">
                <input type="text" id="username" name="username" required placeholder="4~15자 이내의 영어, 숫자로 작성 바랍니다.">
                <button class="check-button" onclick="checkUsername()" th:text="확인"></button>
                <span id="usernameMessage"></span>

            </div>
        </div>
        <div class="signup_1">
            <label for="nickname"><b>닉네임</b></label>
            <div class="signup-input">
                <input type="text" id="nickname" name="nickname" required placeholder="2~10자 이내의 한글, 영어, 숫자로 작성 바랍니다.">
                <button class="check-button" onclick="checkNickname()" th:text="확인"></button>
                <span id="nicknameMessage"></span>
            </div>
        </div>
        <div class="signup_1">
            <label for="email"><b>E-mail</b></label>
            <div class="email-input">
                <input type="text" id="email" name="email" required placeholder="이메일을 입력해주세요.">
                <span id="emailMessage"></span>
            </div>
        </div>
        <div class="signup_1">
            <label for="password"><b>Password</b></label>
            <div class="password-input">
                <input type="password" id="password" name="password" required
                       placeholder="6~15자 이내의 영어, 숫자, 특수문자 모두 사용 바랍니다. ">
                <span id="passwordMessage"></span>
            </div>
        </div>
        <div class="signup_1">
            <label for="confirmPassword"><b>ConfirmPassword</b></label>
            <div class="confirmPassword-input">
                <input type="password" id="confirmPassword" name="confirmPassword" required
                       placeholder="비밀번호를 한번 더 입력해주세요.">
                <span id="confirmPasswordMessage"></span>
            </div>
        </div>
        <div class="submit">
            <input type="button" onclick="signup()" value="회원가입"/>
        </div>
    </div>
</div>
<script>
    var isDuplicatedUsername = true;
    var isDuplicatedNickname = true;

    function checkUsername() {
        const username = document.getElementById('username').value;

        // Request DTO 구성
        const usernameVerifyReq = {
            username: username,
        };

        fetch('/api/users/username', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(usernameVerifyReq),
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    // 중복된 경우 메시지 표시
                    alert('사용 불가능한 아이디입니다.');
                    isDuplicatedUsername = true;
                } else {
                    // 중복되지 않은 경우 메시지 초기화
                    alert('사용 가능한 아이디입니다.');
                    isDuplicatedUsername = false;
                }
            })
            .catch(error => {
                console.error('Error checking username:', error);
            });
    }

    function checkNickname() {
        const nickname = document.getElementById('nickname').value;

        // Request DTO 구성
        const nicknameVerifyReq = {
            nickname: nickname,
        };

        fetch('/api/users/nickname', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(nicknameVerifyReq),
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    // 중복된 경우 메시지 표시
                    alert('사용 불가능한 닉네임입니다.');
                    isDuplicatedNickname = true;
                } else {
                    // 중복되지 않은 경우 메시지 초기화
                    alert('사용 가능한 닉네임입니다.');
                    isDuplicatedNickname = false;
                    updateUpdateButtonState();
                }
            })
            .catch(error => {
                console.error('Error checking nickname:', error);
            });
    }

    function signup() {
        // 사용자 이름 또는 패스워드가 비어있을 경우 오류 처리
        let username = document.getElementById('username').value;
        let nickname = document.getElementById('nickname').value;
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirmPassword').value;
        let image = document.getElementById('image');

        if (!username) {
            alert('username을 입력하세요.');
            return;
        } else if (!nickname) {
            alert('nickname을 입력하세요.');
            return;
        } else if (!email) {
            alert('email을 입력하세요.');
            return;
        } else if (!password) {
            alert('password을 입력하세요.');
            return;
        } else if (!confirmPassword) {
            alert('confirmPassword을 입력하세요.');
            return;
        }

        let formData = new FormData();
        formData.append("username", username);
        formData.append("nickname", nickname);
        formData.append("email", email);
        formData.append("password", password);
        formData.append("confirmPassword", confirmPassword);

        // 파일이 선택되지 않은 경우 빈 파일 전송
        if (image.files.length > 0) {
            formData.append('image', image.files[0]);
        } else {
            // 빈 파일 생성 및 전송
            const emptyFile = new File([''], 'empty.txt', {type: 'text/plain'});
            formData.append('image', emptyFile);
        }

        // 요청 보내기
        fetch('/api/users/signup', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.code === 200) {
                    // 서버 응답이 200이면 로그인 성공
                    alert('회원가입이 성공적으로 이루어졌습니다.');
                    window.location.href = '/api/users/login-page';
                } else {
                    // 서버 응답이 200이 아니면 로그인 실패
                    alert('회원가입 수정 실패: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error signup:', error);
                // 오류 발생 시의 로직을 추가할 수 있습니다.
            });
    }
</script>
</body>
</html>